In [1]:
student = {
    "name": "Alice",
    "age": 20,
    "major": "Computer Science"
}
print(student)

{'name': 'Alice', 'age': 20, 'major': 'Computer Science'}

In [2]:
student = {"name": "Alice", "age": 20, "major": "Computer Science"}
print(student["name"])  # Output: Alice

Alice

In [3]:
student["age"] = 21  # Modify existing value
student["gpa"] = 3.8  # Add new key-value pair
print(student)
# Output: {'name': 'Alice', 'age': 21, 'major': 'Computer Science', 'gpa': 3.8}

{'name': 'Alice', 'age': 21, 'major': 'Computer Science', 'gpa': 3.8}

In [4]:
student = {"name": "Alice", "age": 20}
print(student.get("age"))  # Output: 20
print(student.get("gpa", "Not found"))  # Output: Not found

20
Not found

In [5]:
student = {"name": "Alice", "age": 20, "major": "Computer Science"}
for key in student:
    print(key)
# Output: name, age, major

name
age
major

In [6]:
for value in student.values():
    print(value)
# Output: Alice, 20, Computer Science

Alice
20
Computer Science

In [7]:
for key, value in student.items():
    print(f"{key}: {value}")
# Output:
# name: Alice
# age: 20
# major: Computer Science

name: Alice
age: 20
major: Computer Science

In [8]:
students = {
    "alice": {
        "age": 20,
        "major": "Computer Science",
        "gpa": 3.8
    },
    "bob": {
        "age": 21,
        "major": "Engineering",
        "gpa": 3.6
    }
}

# Accessing nested values
print(students["alice"]["major"])  # Output: Computer Science
print(students["bob"]["gpa"])  # Output: 3.6

Computer Science
3.6

In [9]:
numbers = [1, 2, 3, 4, 5]
squared = {num: num**2 for num in numbers}
print(squared)
# Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [10]:
numbers = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
even_dict = {k: v for k, v in numbers.items() if k % 2 == 0}
print(even_dict)
# Output: {2: 'two', 4: 'four'}

{2: 'two', 4: 'four'}

In [11]:
numbers = range(1, 6)
label_dict = {num: "even" if num % 2 == 0 else "odd" for num in numbers}
print(label_dict)
# Output: {1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}