In [1]:
def checkNum(num):
  if num%2==0:
    print("num is even")
  else:
    print("num is odd")
checkNum(23)

num is odd

In [3]:
def greet():
  print("Hello World")
greet()

Hello World

In [4]:
def greet(name):
  print(f"Hi, {name}!")
greet('Rishi')

Hi, Rishi!

In [5]:
def add (a,b):
  return a+b
result = add(5,3)
print(result)

8

In [1]:
def greet():
    print("Hello, welcome to Python!")

greet()

Hello, welcome to Python!

In [2]:
def square(num):
    return num * num

print(square(5))

25

In [3]:
def greet(name="User"):
    print("Hello", name)

greet()
greet("Rishi")

Hello User
Hello Rishi

In [4]:
def add(a, b):
    return a + b

print(add(10, 20))

30

In [5]:
def greet(name="User"):
    print("Hello", name)

greet()
greet("Rishi")

Hello User
Hello Rishi

In [6]:
def maths(a, b):
    sum_val = a + b
    product = a * b
    return sum_val, product

x, y = maths(5, 10)
print(x, y)

15 50

In [7]:
def total(numbers):
    return sum(numbers)

print(total([10, 20, 30, 40]))

100

In [8]:
def get_evens(nums):
    return [n for n in nums if n % 2 == 0]

print(get_evens([1,2,3,4,5,6,7,8]))

[2, 4, 6, 8]

In [9]:
def multiply(*nums):
    result = 1
    for n in nums:
        result *= n
    return result

print(multiply(2, 3, 4))

24

In [10]:
def person_info(**info):
    for key, value in info.items():
        print(key, ":", value)

person_info(name="Rishi", age=25, city="Bangalore")

name : Rishi
age : 25
city : Bangalore

In [11]:
def message():
    return "Good job!"

def show():
    print(message())

show()

Good job!

In [1]:
add_10 = lambda a: a + 10
print(add_10(5))  # 15

15

In [2]:
multiply = lambda a, b: a * b
print(multiply(5, 6))  # 30

30

In [3]:
numbers = [1, 2, 3, 4]
doubled = list(map(lambda x: x * 2, numbers))
# [2, 4, 6, 8]

In [4]:
numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
# [2, 4, 6]

In [5]:
pairs = [(1, 'b'), (3, 'a'), (2, 'c')]
pairs_sorted = sorted(pairs, key=lambda x: x[1])
# [(3, 'a'), (1, 'b'), (2, 'c')]

In [6]:
def make_multiplier(n):
    return lambda x: x * n

doubler = make_multiplier(2)
tripler = make_multiplier(3)

print(doubler(5))  # 10
print(tripler(5))  # 15

10
15