In [2]:
1+1

2

In [6]:
name = 'Rishi'
Name = 'rishi'
print(name)
print(Name)

Rishi
rishi

In [1]:
age=29
if age>21:
  print(age)

29

In [2]:
## This is single line comment 
print('Hello World')

Hello World

In [5]:
name='Rishi'
type(name)

age=23
type(age)

int

In [5]:
if True:
  print('Correct Indentataion')
  if False:
    print('false')
  print('format indentation')
print('ourter loop indentation')

Correct Indentataion
format indentation
ourter loop indentation

In [9]:
name= 'rishi'
age='27'
weight='79'
print(name, type(name))

rishi <class 'str'>

In [10]:
num1 = float(input('Enter the first num'))
num2 = float(input('Enter the second num'))

sum = num1 + num1
difference = num2 - num1
product = num1 * num2
quotient = num2 / num1


print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 8.0
Difference: 1.0
Product: 20.0
Quotient: 1.25