In [1]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [2]:
for letter in "banana":
    print(letter)

b
a
n
a
n
a

In [3]:
for i in range(5):  # 0 to 4
    print(i)

0
1
2
3
4

In [4]:
for i in range(2, 10, 2):  # 2, 4, 6, 8
    print(i)

2
4
6
8

In [5]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [6]:
for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [7]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [8]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry