In [1]:
fruits = {"apple", "banana", "cherry"}
fruits.add("date")
print(fruits)  # Output order may vary and does not allow duplicates

numbers = [1, 2, 2, 3, 4]
unique_numbers = set(numbers)
print(unique_numbers)  # Output: {1, 2, 3, 4}

{'date', 'banana', 'cherry', 'apple'}
{1, 2, 3, 4}

In [3]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'banana', 'cherry', 'apple'}

In [5]:
myset = set([1, 2, 2, 3, 4])
print(myset)

{1, 2, 3, 4}