In [12]:
numbers = [1,2,3,4,5,6,7,8,9]
print(numbers[4:9])
print(numbers[:9])
print(numbers[:5])
print(numbers[1:])
print(numbers[::4])
print(numbers[::2])
print(numbers[::3])
print(numbers[::-1])
print(numbers[::])

[5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6, 7, 8, 9]
[1, 5, 9]
[1, 3, 5, 7, 9]
[1, 4, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
for number in numbers:
  print(number)

1
2
3
4
5
6
7
8
9

In [15]:
for index, number in enumerate (numbers):
  print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [16]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
even_num = [num for  num in range(50) if num %2==0]
print(even_num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [22]:

list1 = ['a','b','c','d']
list2 = [1,2,3,4]

paird = [[i,j]for i in list1 for j in list2]
print(paird)

[['a', 1], ['a', 2], ['a', 3], ['a', 4], ['b', 1], ['b', 2], ['b', 3], ['b', 4], ['c', 1], ['c', 2], ['c', 3], ['c', 4], ['d', 1], ['d', 2], ['d', 3], ['d', 4]]

In [3]:
a = [2] * 11
print(a)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]