In [3]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [7]:
tpl =tuple()
print(type(tpl))

<class 'tuple'>

In [8]:
mixed_tuple=(1,"Hi", 3.45, True)
print(mixed_tuple)

(1, 'Hi', 3.45, True)

In [10]:
numbers = (1,2,3,4,5,67,8,9)
print(numbers[-1])

9

In [ ]:
# Examples of tuples
t1 = (1, 2, 3)
t2 = ("apple", "banana", "cherry")
t3 = (1, "hello", 3.14, True)

In [ ]:
t4 = 1, 2, 3

In [ ]:
t5 = (5,)   # This is a tuple
not_tuple = (5)   # This is just an integer

In [11]:
t = (10, 20, 30, 40)
print(t[0])   # 10
print(t[-1])  # 40

10
40

In [12]:
print(t[1:3])

(20, 30)

In [ ]:
t = (1, 2, 3)
t = (1, 2, 3)

# t[0] = 10   # ‚ùå This will raise a TypeError?

TypeError: 'tuple' object does not support item assignment

In [16]:
# Concatenation
t1 = (1, 2)
t2 = (3, 4)
t3 = t1 + t2  # (1, 2, 3, 4)

# Repetition
t4 = t1 * 3   # (1, 2, 1, 2, 1, 2)

# Membership test
print(2 in t1)  # True

True

In [17]:
person = ("Alice", 25, "Engineer")
name, age, job = person

print(name)  # Alice
print(age)   # 25

Alice
25

In [18]:
numbers * 3

(1, 2, 3, 4, 5, 67, 8, 9, 1, 2, 3, 4, 5, 67, 8, 9, 1, 2, 3, 4, 5, 67, 8, 9)

In [19]:
mixed_tuple * 3

(1, 'Hi', 3.45, True, 1, 'Hi', 3.45, True, 1, 'Hi', 3.45, True)

In [20]:
numbers

(1, 2, 3, 4, 5, 67, 8, 9)

In [23]:
print(numbers.count(1))
print(numbers.index(4))

1
3

In [24]:
mixed_tuple

(1, 'Hi', 3.45, True)

In [25]:
a,b,c,d = mixed_tuple

In [26]:
print(a)
print(b)
print(c)
print(d)

1
Hi
3.45
True

In [29]:
first, *center, last = mixed_tuple
print(first)
print(center)
print(last)

1
['Hi', 3.45]
True

In [30]:
lst = [[1,2,3,4,5],[6,7,8,9,],["how are you", "my, buddy"],[5.2, True]]
print(lst)

[[1, 2, 3, 4, 5], [6, 7, 8, 9], ['how are you', 'my, buddy'], [5.2, True]]

In [36]:
lst[0][1:4]

[2, 3, 4]

In [39]:
nested_tuple = ((1,2,3),("a","b","c"), (True,False))
for sub_tuple in nested_tuple:
  for item in sub_tuple:
    print(item, end = ' ')
  print()

1 2 3
a b c
True False

In [43]:
grades = [56,66, 78,88, 92,99]
print(grades)
print(type(grades))
print(max(grades))

[56, 66, 78, 88, 92, 99]
<class 'list'>
99

In [46]:
fruits = ["Apple", "Orange", "Gauva", "Pomegrenate"]
fruits.append("Graps")
print(fruits)
print(fruits[3])

['Apple', 'Orange', 'Gauva', 'Pomegrenate', 'Graps']
Pomegrenate